<tables>
    <!-- Location of ml-models files -->
    <table name="pretrained_mlmodels_various_sources" comment_char="#">
        <columns>value, model_family, variant, version, display_name, sort_key, model_type, compatibility, path, doi, license, creators </columns>
        <file path="tool-data/pretrained_mlmodels_various_sources.loc" />
    </table>
</tables>
