#This is a sample file distributed with Galaxy that is used to define a
#list of public ribosomal databases for SortMeRNA, using the following format
#(white space characters are TAB characters):
#
#<unique_id>	<database_caption>	<fasta_file_path>
#
#So, for example, if your database is rfam-5.8s-id98 and the path to your FASTA
#file is /data/rRNA_databases/rfam-5.8s-id98.fasta, then the rRNA_databases.loc
#entry would look like this:
#
#rfam-5.8s-id98	Rfam 5.8S eukarya	/data/rRNA_databases/rfam-5.8s-id98.fasta
#
#For each rRNA database, you need to create the index files using the
#indexdb_rna program provided by SortMeRNA. You need to specify as index
#basename the path of the FASTA file without extension. For example, for the
#previous database the command is:
#
#  indexdb_rna --ref /data/rRNA_databases/rfam-5.8s-id98.fasta,/data/rRNA_databases/rfam-5.8s-id98
#
#Since SortMeRNA comes bundled with eight ribosomal databases, you can use them
#by creating the actual index files as explained above and uncommenting the
#following lines.
#rfam-5.8s-id98	Rfam 5.8S eukarya	$SORTMERNADIR/rRNA_databases/rfam-5.8s-database-id98.fasta
#rfam-5s-id98	Rfam 5S archaea/bacteria	$SORTMERNADIR/rRNA_databases/rfam-5s-database-id98.fasta
#silva-arc-16s-id95	SILVA v.119 16S archaea	$SORTMERNADIR/rRNA_databases/silva-arc-16s-id95.fasta
#silva-arc-23s-id98	SILVA v.119 23S archaea	$SORTMERNADIR/rRNA_databases/silva-arc-23s-id98.fasta
#silva-bac-16s-id90	SILVA v.119 16S bacteria	$SORTMERNADIR/rRNA_databases/silva-bac-16s-id90.fasta
#silva-bac-23s-id98	SILVA v.119 23S bacteria	$SORTMERNADIR/rRNA_databases/silva-bac-23s-id98.fasta
#silva-euk-18s-id95	SILVA v.119 18S eukarya	$SORTMERNADIR/rRNA_databases/silva-euk-18s-id95.fasta
#silva-euk-28s-id98	SILVA v.119 28S eukarya	$SORTMERNADIR/rRNA_databases/silva-euk-28s-id98.fasta
