<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="{{ site.url }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.url }}/css/style.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="{{ site.url }}/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.url }}/css/pygments.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <style>
    </style>

    <link rel="stylesheet" href="{{ site.url }}/css/gh-fork-ribbon.css" />
    <!--[if IE]>
        <link rel="stylesheet" href="{{ site.url }}/css/gh-fork-ribbon.ie.css" />
    <![endif]-->

  </head>
  <body>
    <div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
                <a href="https://github.com/bgruening/galaxytools">Fork me on GitHub</a>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <div style="display: table; float: left; width: 50%; height: 100%;">

                <div class="nav-collapse collapse" style="display: table-cell; vertical-align: middle;">
                    <ul class="nav" style="vertical-align:middle;">
                        <!-- active -->
                      <li><a class="brand" href="{{ site.url }}/">{{ site.name }}</a></li>
                      <li><a class="" href="{{ site.url }}/about/">About</a></li>
                      <li><a class="" href="{{ site.url }}/news/">News</a></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle jetstrap-highlighted" data-toggle="dropdown">Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li class="divider" style="border-bottom: 1px solid #000000"></li>
                          <li class="nav-header">Cheminformatics</li>
                          <li><a class="" href="{{ site.url }}/projects/chemicaltoolbox/">ChemicalToolBoX</a></li>
                          <li><a class="" href="{{ site.url }}/projects/chemicaltoolbox/fragmenter">Fragmeter</a></li>
                          <li class="divider" style="border-bottom: 1px solid #000000"></li>
                          <li class="nav-header">Genomics</li>
                          <li><a class="" href="{{ site.url }}/projects/methtools">Methtools</a></li>
                          <li><a class="" href="{{ site.url }}/projects/bismark">Bismark</a></li>
                          <li class="divider" style="border-bottom: 1px solid #000000"></li>
                          <li class="nav-header">et cetera</li>
                          <li><a href="{{ site.url }}/projects/dependencies">tool dependencies</a></li>
                        </ul>
                      </li>
                    </ul>
                </div><!--/.nav-collapse -->

            </div>
            <div style="display: table; text-align: right; float: right; width: 50%; height:100%;">
                <div style="display: table-cell; vertical-align: middle;">
                    <a href="https://github.com/bgruening/galaxytools" class="btn btn-primary btn-large">View On GitHub</a>
                    <a href="https://github.com/bgruening/galaxytools/tarball/master" class="btn btn-primary btn-large">TAR</a>
                    <a href="https://github.com/bgruening/galaxytools/zipball/master" class="btn btn-primary btn-large">ZIP</a>
                </div>
            </div>
        </div>
      </div>
    </div>
    
    <div class="container main">

