<tool id="removeGenomeMapper" name="remove reads mapping to the genome" version="0.1.0">
  <description>Remove reads mapping at least once to the genome</description>
  <command interpreter="perl">removeGenomeMapper.pl $input1 $input2 $output</command>
  <inputs>
	<param format="fasta" name="input1" type="data" label="tRNAscan_fasta"/>
       	<param format="sam" name="input2" type="data" label="genomic_sam"/>
  </inputs>
  <outputs>
    <data format="sam" name="output" />
  </outputs>

  <tests>
    <test>
	<param name="input1" value="tRNAscan_pre_tRNAs.fasta"/>
	<param name="input2" value="genomic.sam"/>
      <output name="output" file="genomic_filtered.sam"/>
    </test>
  </tests>

  <help>
This tool removes reads mapping at least once to the genome.
  </help>

</tool>
