#This is a sample file distributed with Galaxy that enables tools
#to use a directory of usearch database files.  
#file has this format (white space characters are TAB characters)
# - db-build-version-date
# - db-name
# - version
# - /path/to/data
#
#The version column must exactly match the tool version of the wrapper, since a
#usearch index is only compatible with the version of search_protein that built it.
#Databases whose version does not match are hidden from the tool form, so on every
#tool upgrade a database built for the new version has to be added as a new row
#here - otherwise the tool will report that no database is available.
#2026-09-nonhuman-db-flat        Protein Non-Human Flat    1.2.2   /data/db/databases/logan/usearch/nonhuman_db_usearch
#2026-09-human-db-flat   Protein Human Flat        1.2.2   /data/db/databases/logan/usearch/human_db_usearch