#This file lists the locations and mapping files
#This file has the format (white space characters are
#TAB characters):
#
#<unique_mapping_id>   <display_name>   <file_path>
#
#So, mapping.loc could look something like this:
#
#uniprot_gi   UniProt - GI     /path/to/mapping.file
#uniprot_idmapping  UniProt - All   /media/data/uniprot/idmapping.dat
#
#Your mapping.loc file should contain an entry for each individual
#mapping file.

##### Examples ####
#uniprot_idmapping	UniProtKB mapping (idmapping)	/media/data/uniprot/idmapping/idmapping.dat
#pdb_chain_uniprot_fpam	PDB - Chain - UniProt - Pfam	/media/data/databases/mapping/other/pdb_chain_pfam.lst
#uniprot_reactome	UniProt - Reactome	/media/data/databases/mapping/other/uniprot_2_pathways.stid.txt
#unigene_uniprot	UniGene Cluster - UniProtKB	/media/data/databases/mapping/other/gp2protein.unigene

#cid_mesh	CID - MeSH	/media/data/databases/mapping/other/CID-MeSH
#mesh_pharm_from_pubchem	MeSH - Pharm	/media/data/databases/mapping/other/MeSH-Pharm
#gene_association_goa_uniprot	Gene Association (GOA)	/media/data/databases/mapping/gene_association/gene_association.goa_uniprot
#pdbligand_pdb	PDB-Ligand - PDB - UniProtKB	/media/data/databases/mapping/other/cc-to-pdb.tdd
#kegg_pathway_name	KEGG PathwayID - Pathway Name	/media/data/databases/mapping/other/map_title.tab
#ec_go	EC - GO	/media/data/databases/mapping/ec2go
#swissprot_mesh	SwissProt - MeSH	/media/data/databases/mapping/other/SP_MeSH.tab
#biogrid	SwissProt - MeSH	/media/data/databases/mapping/biogrid/BIOGRID-IDENTIFIERS-3.1.85.tab.txt

