<tables>
    <!-- Location of motus DB file -->
    <table name="motus_db_versioned" comment_char="#">
        <columns>value, version, name, path</columns>
        <file path="tool-data/motus_db_versioned.loc" />
    </table>
</tables>