# This is a sample file distributed with Galaxy that is used to define a
# list of sailfish indices, using three columns tab separated:
#
# sailfish_index_id{tab}Sailfish Index desciption{tab}/data/sailfish_indexes/sailfish_index_id/
#
# An index can be created with the following command:
#
# sailfish index
#     --transcripts your_transcripts.fasta
#     --kmerSize 21
#     --out /data/sailfish_indexes/sailfish_index_id/
#     --threads 4
#

