#This is a sample file distributed with Galaxy that is used to define a
#list of PFAM hmms, using three columns tab separated
#(longer whitespace are TAB characters):
#
#The entries are as follows:
#
#<unique_id>	<PFAM name>	<path>
#
#Your antismash.loc file should include an entry per line.  For example:
#
#pfam01	PFAM 27 08 Aug 2013	/data/0/galaxy_data/antismash/pfam/08_08_2013/
#
#...etc...
#


