#This is a sample file distributed with Galaxy that is used to define a
#list of infernal covariance models, using three columns tab separated
#(longer whitespace are TAB characters):
#
#The entries are as follows:
#
#<unique_id>	<covariance model name>	<path>
#
#Your infernal.loc file should include an entry per line for each "base name" 
#you have stored.  For example:
#
#rfam01	RFAM 4.2 08 Aug 2013	/data/0/galaxy_data/infernal/08_08_2013/rfam.cm
#
#...etc...
#


