#This is a sample file distributed with Galaxy that enables tools
#to use a pharokka DB folder. The motus_db_versioned.loc 
#file needs this format (longer white space is the TAB character):

#<unique_build_id>	<version>	<display_name>	<DB_folder_path>

# for example:

db_from_2024-07-11T081301Z		3.1.0	mOTUs DB version 3.1.0 downloaded at 2024-07-11 08:13:01.698939	/galaxy/tool-data/motus_database/db_from_2024-07-11T081301Z/db_mOTU