acbc_mskcc_2015	acbc_mskcc_2015	1
acc_2019	acc_2019	1
acc_tcga	acc_tcga	1
acc_tcga_pan_can_atlas_2018	acc_tcga_pan_can_atlas_2018	1
acyc_fmi_2014	acyc_fmi_2014	1
acyc_jhu_2016	acyc_jhu_2016	1
acyc_mda_2015	acyc_mda_2015	1
acyc_mgh_2016	acyc_mgh_2016	1
acyc_mskcc_2013	acyc_mskcc_2013	1
acyc_sanger_2013	acyc_sanger_2013	1
aflexynesis.loc	aflexynesis.loc	1
all_phase2_target_2018_pub	all_phase2_target_2018_pub	1
all_stjude_2013	all_stjude_2013	1
all_stjude_2015	all_stjude_2015	1
all_stjude_2016	all_stjude_2016	1
aml_ohsu_2018	aml_ohsu_2018	1
aml_ohsu_2022	aml_ohsu_2022	1
aml_target_2018_pub	aml_target_2018_pub	1
ampca_bcm_2016	ampca_bcm_2016	1
angs_painter_2020	angs_painter_2020	1
angs_project_painter_2018	angs_project_painter_2018	1
appendiceal_msk_2022	appendiceal_msk_2022	1
asclc_msk_2024	asclc_msk_2024	1
bcc_unige_2016	bcc_unige_2016	1
bfn_duke_nus_2015	bfn_duke_nus_2015	1
biliary_tract_summit_2022	biliary_tract_summit_2022	1
bladder_columbia_msk_2018	bladder_columbia_msk_2018	1
bladder_msk_2023	bladder_msk_2023	1
blca_bcan_hcrn_2022	blca_bcan_hcrn_2022	1
blca_bgi	blca_bgi	1
blca_cornell_2016	blca_cornell_2016	1
blca_dfarber_mskcc_2014	blca_dfarber_mskcc_2014	1
blca_mskcc_solit_2012	blca_mskcc_solit_2012	1
blca_mskcc_solit_2014	blca_mskcc_solit_2014	1
blca_msk_tcga_2020	blca_msk_tcga_2020	1
blca_nmibc_2017	blca_nmibc_2017	1
blca_plasmacytoid_mskcc_2016	blca_plasmacytoid_mskcc_2016	1
blca_tcga	blca_tcga	1
blca_tcga_pan_can_atlas_2018	blca_tcga_pan_can_atlas_2018	1
blca_tcga_pub	blca_tcga_pub	1
blca_tcga_pub_2017	blca_tcga_pub_2017	1
bm_nsclc_mskcc_2023	bm_nsclc_mskcc_2023	1
bowel_colitis_msk_2022	bowel_colitis_msk_2022	1
braf_msk_archer_2024	braf_msk_archer_2024	1
braf_msk_impact_2024	braf_msk_impact_2024	1
brain_cptac_2020	brain_cptac_2020	1
brca_bccrc	brca_bccrc	1
brca_bccrc_xenograft_2014	brca_bccrc_xenograft_2014	1
brca_broad	brca_broad	1
brca_cptac_2020	brca_cptac_2020	1
brca_dfci_2020	brca_dfci_2020	1
brca_fuscc_2020	brca_fuscc_2020	1
brca_hta9_htan_2022	brca_hta9_htan_2022	1
brca_igr_2015	brca_igr_2015	1
brca_jup_msk_2020	brca_jup_msk_2020	1
brca_mapk_hp_msk_2021	brca_mapk_hp_msk_2021	1
brca_mbcproject_2022	brca_mbcproject_2022	1
brca_mbcproject_wagle_2017	brca_mbcproject_wagle_2017	1
brca_metabric	brca_metabric	1
brca_mskcc_2019	brca_mskcc_2019	1
brca_pareja_msk_2020	brca_pareja_msk_2020	1
brca_sanger	brca_sanger	1
brca_smc_2018	brca_smc_2018	1
brca_tcga	brca_tcga	1
brca_tcga_pan_can_atlas_2018	brca_tcga_pan_can_atlas_2018	1
brca_tcga_pub	brca_tcga_pub	1
brca_tcga_pub2015	brca_tcga_pub2015	1
breast_alpelisib_2020	breast_alpelisib_2020	1
breast_ink4_msk_2021	breast_ink4_msk_2021	1
breast_msk_2018	breast_msk_2018	1
ccle_broad_2019	ccle_broad_2019	1
ccrcc_dfci_2019	ccrcc_dfci_2019	1
ccrcc_irc_2014	ccrcc_irc_2014	1
ccrcc_utokyo_2013	ccrcc_utokyo_2013	1
cellline_ccle_broad	cellline_ccle_broad	1
cellline_nci60	cellline_nci60	1
cervix_msk_2023	cervix_msk_2023	1
cesc_tcga	cesc_tcga	1
cesc_tcga_pan_can_atlas_2018	cesc_tcga_pan_can_atlas_2018	1
cfdna_msk_2019	cfdna_msk_2019	1
chl_sccc_2023	chl_sccc_2023	1
chol_icgc_2017	chol_icgc_2017	1
chol_jhu_2013	chol_jhu_2013	1
chol_msk_2018	chol_msk_2018	1
chol_nccs_2013	chol_nccs_2013	1
chol_nus_2012	chol_nus_2012	1
chol_tcga	chol_tcga	1
chol_tcga_pan_can_atlas_2018	chol_tcga_pan_can_atlas_2018	1
cll_broad_2015	cll_broad_2015	1
cll_broad_2022	cll_broad_2022	1
cll_iuopa_2015	cll_iuopa_2015	1
cllsll_icgc_2011	cllsll_icgc_2011	1
coad_caseccc_2015	coad_caseccc_2015	1
coad_cptac_2019	coad_cptac_2019	1
coadread_cass_2020	coadread_cass_2020	1
coadread_dfci_2016	coadread_dfci_2016	1
coadread_genentech	coadread_genentech	1
coadread_mskcc	coadread_mskcc	1
coadread_mskresistance_2022	coadread_mskresistance_2022	1
coadread_tcga	coadread_tcga	1
coadread_tcga_pan_can_atlas_2018	coadread_tcga_pan_can_atlas_2018	1
coadread_tcga_pub	coadread_tcga_pub	1
coad_silu_2022	coad_silu_2022	1
crc_apc_impact_2020	crc_apc_impact_2020	1
crc_dd_2022	crc_dd_2022	1
crc_eo_2020	crc_eo_2020	1
crc_hta11_htan_2021	crc_hta11_htan_2021	1
crc_msk_2017	crc_msk_2017	1
crc_nigerian_2020	crc_nigerian_2020	1
cscc_dfarber_2015	cscc_dfarber_2015	1
cscc_hgsc_bcm_2014	cscc_hgsc_bcm_2014	1
cscc_ranson_2022	cscc_ranson_2022	1
cscc_ucsf_2021	cscc_ucsf_2021	1
csf_msk_2024	csf_msk_2024	1
ctcl_columbia_2015	ctcl_columbia_2015	1
desm_broad_2015	desm_broad_2015	1
difg_glass	difg_glass	1
difg_glass_2019	difg_glass_2019	1
difg_msk_2023	difg_msk_2023	1
dlbc_broad_2012	dlbc_broad_2012	1
dlbcl_dfci_2018	dlbcl_dfci_2018	1
dlbcl_duke_2017	dlbcl_duke_2017	1
dlbc_tcga	dlbc_tcga	1
dlbc_tcga_pan_can_atlas_2018	dlbc_tcga_pan_can_atlas_2018	1
egc_msk_2017	egc_msk_2017	1
egc_msk_2023	egc_msk_2023	1
egc_mskcc_2020	egc_mskcc_2020	1
egc_msk_tp53_ccr_2022	egc_msk_tp53_ccr_2022	1
egc_tmucih_2015	egc_tmucih_2015	1
egc_trap_ccr_msk_2023	egc_trap_ccr_msk_2023	1
egc_trap_msk_2020	egc_trap_msk_2020	1
esca_broad	esca_broad	1
esca_tcga	esca_tcga	1
esca_tcga_pan_can_atlas_2018	esca_tcga_pan_can_atlas_2018	1
escc_icgc	escc_icgc	1
escc_ucla_2014	escc_ucla_2014	1
es_dfarber_broad_2014	es_dfarber_broad_2014	1
es_dsrct_msk_2023	es_dsrct_msk_2023	1
es_iocurie_2014	es_iocurie_2014	1
gbc_msk_2018	gbc_msk_2018	1
gbc_mskcc_2022	gbc_mskcc_2022	1
gbc_shanghai_2014	gbc_shanghai_2014	1
gbm_columbia_2019	gbm_columbia_2019	1
gbm_cptac_2021	gbm_cptac_2021	1
gbm_mayo_pdx_sarkaria_2019	gbm_mayo_pdx_sarkaria_2019	1
gbm_tcga	gbm_tcga	1
gbm_tcga_pan_can_atlas_2018	gbm_tcga_pan_can_atlas_2018	1
gbm_tcga_pub	gbm_tcga_pub	1
gbm_tcga_pub2013	gbm_tcga_pub2013	1
gct_msk_2016	gct_msk_2016	1
gct_msk_2020	gct_msk_2020	1
gist_msk_2022	gist_msk_2022	1
gist_msk_2023	gist_msk_2023	1
glioma_msk_2018	glioma_msk_2018	1
glioma_mskcc_2019	glioma_mskcc_2019	1
hcc_clca_2024	hcc_clca_2024	1
hccihch_pku_2019	hccihch_pku_2019	1
hcc_inserm_fr_2015	hcc_inserm_fr_2015	1
hcc_jcopo_msk_2023	hcc_jcopo_msk_2023	1
hcc_meric_2021	hcc_meric_2021	1
hcc_msk_2024	hcc_msk_2024	1
hcc_mskimpact_2018	hcc_mskimpact_2018	1
hcc_msk_venturaa_2018	hcc_msk_venturaa_2018	1
heme_msk_impact_2022	heme_msk_impact_2022	1
hgsoc_msk_2021	hgsoc_msk_2021	1
histiocytosis_cobi_msk_2019	histiocytosis_cobi_msk_2019	1
hnc_mskcc_2016	hnc_mskcc_2016	1
hnsc_broad	hnsc_broad	1
hnsc_jhu	hnsc_jhu	1
hnsc_mdanderson_2013	hnsc_mdanderson_2013	1
hnsc_tcga	hnsc_tcga	1
hnsc_tcga_pan_can_atlas_2018	hnsc_tcga_pan_can_atlas_2018	1
hnsc_tcga_pub	hnsc_tcga_pub	1
ihch_ismms_2015	ihch_ismms_2015	1
ihch_msk_2021	ihch_msk_2021	1
ihch_mskcc_2020	ihch_mskcc_2020	1
ihch_smmu_2014	ihch_smmu_2014	1
ilc_msk_2023	ilc_msk_2023	1
kich_tcga	kich_tcga	1
kich_tcga_pan_can_atlas_2018	kich_tcga_pan_can_atlas_2018	1
kich_tcga_pub	kich_tcga_pub	1
kirc_bgi	kirc_bgi	1
kirc_tcga	kirc_tcga	1
kirc_tcga_pan_can_atlas_2018	kirc_tcga_pan_can_atlas_2018	1
kirc_tcga_pub	kirc_tcga_pub	1
kirp_tcga	kirp_tcga	1
kirp_tcga_pan_can_atlas_2018	kirp_tcga_pan_can_atlas_2018	1
laml_tcga	laml_tcga	1
laml_tcga_pan_can_atlas_2018	laml_tcga_pan_can_atlas_2018	1
laml_tcga_pub	laml_tcga_pub	1
lcll_broad_2013	lcll_broad_2013	1
lgggbm_tcga_pub	lgggbm_tcga_pub	1
lgg_tcga	lgg_tcga	1
lgg_tcga_pan_can_atlas_2018	lgg_tcga_pan_can_atlas_2018	1
lgg_ucsf_2014	lgg_ucsf_2014	1
lgsoc_mapk_msk_2022	lgsoc_mapk_msk_2022	1
liad_inserm_fr_2014	liad_inserm_fr_2014	1
lihc_amc_prv	lihc_amc_prv	1
lihc_riken	lihc_riken	1
lihc_tcga	lihc_tcga	1
lihc_tcga_pan_can_atlas_2018	lihc_tcga_pan_can_atlas_2018	1
luad_broad	luad_broad	1
luad_cptac_2020	luad_cptac_2020	1
luad_mskcc_2015	luad_mskcc_2015	1
luad_mskcc_2020	luad_mskcc_2020	1
luad_mskcc_2023_met_organotropism	luad_mskcc_2023_met_organotropism	1
luad_mskimpact_2021	luad_mskimpact_2021	1
luad_msk_npjpo_2021	luad_msk_npjpo_2021	1
luad_oncosg_2020	luad_oncosg_2020	1
luad_tcga	luad_tcga	1
luad_tcga_pan_can_atlas_2018	luad_tcga_pan_can_atlas_2018	1
luad_tcga_pub	luad_tcga_pub	1
luad_tsp	luad_tsp	1
lung_msk_2017	lung_msk_2017	1
lung_msk_mind_2020	lung_msk_mind_2020	1
lung_msk_pdx	lung_msk_pdx	1
lung_nci_2022	lung_nci_2022	1
lung_pdx_msk_2021	lung_pdx_msk_2021	1
lung_smc_2016	lung_smc_2016	1
lusc_cptac_2021	lusc_cptac_2021	1
lusc_tcga	lusc_tcga	1
lusc_tcga_pan_can_atlas_2018	lusc_tcga_pan_can_atlas_2018	1
lusc_tcga_pub	lusc_tcga_pub	1
lymphoma_cellline_msk_2020	lymphoma_cellline_msk_2020	1
makeanimpact_ccr_2023	makeanimpact_ccr_2023	1
mbc_msk_2021	mbc_msk_2021	1
mbl_broad_2012	mbl_broad_2012	1
mbl_dkfz_2017	mbl_dkfz_2017	1
mbl_icgc	mbl_icgc	1
mbl_pcgp	mbl_pcgp	1
mbl_sickkids_2016	mbl_sickkids_2016	1
mbn_mdacc_2013	mbn_mdacc_2013	1
mbn_msk_2024	mbn_msk_2024	1
mbn_sfu_2023	mbn_sfu_2023	1
mcl_idibips_2013	mcl_idibips_2013	1
mds_iwg_2022	mds_iwg_2022	1
mds_mskcc_2020	mds_mskcc_2020	1
mds_tokyo_2011	mds_tokyo_2011	1
mel_dfci_2019	mel_dfci_2019	1
mel_mskimpact_2020	mel_mskimpact_2020	1
mel_tsam_liang_2017	mel_tsam_liang_2017	1
mel_ucla_2016	mel_ucla_2016	1
meso_tcga	meso_tcga	1
meso_tcga_pan_can_atlas_2018	meso_tcga_pan_can_atlas_2018	1
metastatic_solid_tumors_mich_2017	metastatic_solid_tumors_mich_2017	1
mixed_allen_2018	mixed_allen_2018	1
mixed_cfdna_msk_2020	mixed_cfdna_msk_2020	1
mixed_impact_subset_2022	mixed_impact_subset_2022	1
mixed_kunga_msk_2022	mixed_kunga_msk_2022	1
mixed_msk_tcga_2021	mixed_msk_tcga_2021	1
mixed_pipseq_2017	mixed_pipseq_2017	1
mixed_selpercatinib_2020	mixed_selpercatinib_2020	1
mm_broad	mm_broad	1
mng_utoronto_2021	mng_utoronto_2021	1
mnm_washu_2016	mnm_washu_2016	1
mpcproject_broad_2021	mpcproject_broad_2021	1
mpn_cimr_2013	mpn_cimr_2013	1
mpnst_mskcc	mpnst_mskcc	1
mrt_bcgsc_2016	mrt_bcgsc_2016	1
msk_access_2021	msk_access_2021	1
msk_ch_2020	msk_ch_2020	1
msk_ch_2023	msk_ch_2023	1
msk_chord_2024	msk_chord_2024	1
msk_ch_ped_2021	msk_ch_ped_2021	1
msk_ctdna_vte_2024	msk_ctdna_vte_2024	1
msk_impact_2017	msk_impact_2017	1
msk_met_2021	msk_met_2021	1
msk_spectrum_tme_2022	msk_spectrum_tme_2022	1
mtnn_msk_2022	mtnn_msk_2022	1
nbl_amc_2012	nbl_amc_2012	1
nbl_broad_2013	nbl_broad_2013	1
nbl_target_2018_pub	nbl_target_2018_pub	1
nbl_ucologne_2015	nbl_ucologne_2015	1
nccrcc_genentech_2014	nccrcc_genentech_2014	1
nepc_wcm_2016	nepc_wcm_2016	1
nhl_bcgsc_2011	nhl_bcgsc_2011	1
nhl_bcgsc_2013	nhl_bcgsc_2013	1
normal_skin_fibroblast_2024	normal_skin_fibroblast_2024	1
normal_skin_keratinocytes_2024	normal_skin_keratinocytes_2024	1
normal_skin_melanocytes_2024	normal_skin_melanocytes_2024	1
npc_nusingapore	npc_nusingapore	1
nsclc_ctdx_msk_2022	nsclc_ctdx_msk_2022	1
nsclc_mskcc_2015	nsclc_mskcc_2015	1
nsclc_mskcc_2018	nsclc_mskcc_2018	1
nsclc_pd1_msk_2018	nsclc_pd1_msk_2018	1
nsclc_tcga_broad_2016	nsclc_tcga_broad_2016	1
nsclc_tracerx_2017	nsclc_tracerx_2017	1
nsclc_unito_2016	nsclc_unito_2016	1
nst_nfosi_ntap	nst_nfosi_ntap	1
ntrk_msk_2019	ntrk_msk_2019	1
odg_msk_2017	odg_msk_2017	1
ovary_geomx_gray_foundation_2024	ovary_geomx_gray_foundation_2024	1
ov_tcga	ov_tcga	1
ov_tcga_pan_can_atlas_2018	ov_tcga_pan_can_atlas_2018	1
ov_tcga_pub	ov_tcga_pub	1
paac_jhu_2014	paac_jhu_2014	1
paac_msk_jco_2023	paac_msk_jco_2023	1
paad_cptac_2021	paad_cptac_2021	1
paad_icgc	paad_icgc	1
paad_qcmg_uq_2016	paad_qcmg_uq_2016	1
paad_tcga	paad_tcga	1
paad_tcga_pan_can_atlas_2018	paad_tcga_pan_can_atlas_2018	1
paad_utsw_2015	paad_utsw_2015	1
pact_jhu_2011	pact_jhu_2011	1
paired_bladder_2022	paired_bladder_2022	1
pancan_mappyacts_2022	pancan_mappyacts_2022	1
pancan_pcawg_2020	pancan_pcawg_2020	1
pancreas_msk_2024	pancreas_msk_2024	1
panet_arcnet_2017	panet_arcnet_2017	1
panet_jhu_2011	panet_jhu_2011	1
panet_msk_2018	panet_msk_2018	1
panet_msk_erc_2023	panet_msk_erc_2023	1
panet_shanghai_2013	panet_shanghai_2013	1
pan_origimed_2020	pan_origimed_2020	1
past_dkfz_heidelberg_2013	past_dkfz_heidelberg_2013	1
pcnsl_mayo_2015	pcnsl_mayo_2015	1
pcnsl_msk_2024	pcnsl_msk_2024	1
pcpg_tcga	pcpg_tcga	1
pcpg_tcga_pan_can_atlas_2018	pcpg_tcga_pan_can_atlas_2018	1
pcpg_tcga_pub	pcpg_tcga_pub	1
pdac_msk_2024	pdac_msk_2024	1
pediatric_dkfz_2017	pediatric_dkfz_2017	1
plmeso_msk_2024	plmeso_msk_2024	1
plmeso_nyu_2015	plmeso_nyu_2015	1
pog570_bcgsc_2020	pog570_bcgsc_2020	1
pptc_2019	pptc_2019	1
prad_broad	prad_broad	1
prad_broad_2013	prad_broad_2013	1
prad_cdk12_mskcc_2020	prad_cdk12_mskcc_2020	1
prad_cpcg_2017	prad_cpcg_2017	1
prad_eururol_2017	prad_eururol_2017	1
prad_fhcrc	prad_fhcrc	1
prad_mcspc_mskcc_2020	prad_mcspc_mskcc_2020	1
prad_mich	prad_mich	1
prad_msk_2019	prad_msk_2019	1
prad_mskcc	prad_mskcc	1
prad_mskcc_2014	prad_mskcc_2014	1
prad_mskcc_2017	prad_mskcc_2017	1
prad_mskcc_cheny1_organoids_2014	prad_mskcc_cheny1_organoids_2014	1
prad_msk_mdanderson_2023	prad_msk_mdanderson_2023	1
prad_msk_stopsack_2021	prad_msk_stopsack_2021	1
prad_organoids_msk_2022	prad_organoids_msk_2022	1
prad_p1000	prad_p1000	1
prad_pik3r1_msk_2021	prad_pik3r1_msk_2021	1
prad_su2c_2015	prad_su2c_2015	1
prad_su2c_2019	prad_su2c_2019	1
prad_tcga	prad_tcga	1
prad_tcga_pan_can_atlas_2018	prad_tcga_pan_can_atlas_2018	1
prad_tcga_pub	prad_tcga_pub	1
prostate_dkfz_2018	prostate_dkfz_2018	1
prostate_msk_2024	prostate_msk_2024	1
prostate_pcbm_swiss_2019	prostate_pcbm_swiss_2019	1
ptad_msk_2024	ptad_msk_2024	1
rbl_cfdna_msk_2020	rbl_cfdna_msk_2020	1
rbl_mskcc_2020	rbl_mskcc_2020	1
rectal_msk_2019	rectal_msk_2019	1
rectal_msk_2022	rectal_msk_2022	1
rms_msk_2023	rms_msk_2023	1
rms_nih_2014	rms_nih_2014	1
rt_target_2018_pub	rt_target_2018_pub	1
sarc_mskcc	sarc_mskcc	1
sarcoma_msk_2022	sarcoma_msk_2022	1
sarcoma_msk_2023	sarcoma_msk_2023	1
sarcoma_mskcc_2022	sarcoma_mskcc_2022	1
sarcoma_ucla_2024	sarcoma_ucla_2024	1
sarc_tcga	sarc_tcga	1
sarc_tcga_pan_can_atlas_2018	sarc_tcga_pan_can_atlas_2018	1
sarc_tcga_pub	sarc_tcga_pub	1
scco_mskcc	scco_mskcc	1
sclc_cancercell_gardner_2017	sclc_cancercell_gardner_2017	1
sclc_clcgp	sclc_clcgp	1
sclc_jhu	sclc_jhu	1
sclc_ucologne_2015	sclc_ucologne_2015	1
skcm_broad	skcm_broad	1
skcm_broad_brafresist_2012	skcm_broad_brafresist_2012	1
skcm_broad_dfarber	skcm_broad_dfarber	1
skcm_dfci_2015	skcm_dfci_2015	1
skcm_mskcc_2014	skcm_mskcc_2014	1
skcm_tcga	skcm_tcga	1
skcm_tcga_pan_can_atlas_2018	skcm_tcga_pan_can_atlas_2018	1
skcm_tcga_pub_2015	skcm_tcga_pub_2015	1
skcm_vanderbilt_mskcc_2015	skcm_vanderbilt_mskcc_2015	1
skcm_yale	skcm_yale	1
soft_tissue_msk_2023	soft_tissue_msk_2023	1
stad_oncosg_2018	stad_oncosg_2018	1
stad_pfizer_uhongkong	stad_pfizer_uhongkong	1
stad_tcga	stad_tcga	1
stad_tcga_pan_can_atlas_2018	stad_tcga_pan_can_atlas_2018	1
stad_tcga_pub	stad_tcga_pub	1
stad_uhongkong	stad_uhongkong	1
stad_utokyo	stad_utokyo	1
stes_tcga_pub	stes_tcga_pub	1
stmyec_wcm_2022	stmyec_wcm_2022	1
summit_2018	summit_2018	1
tet_nci_2014	tet_nci_2014	1
tgct_tcga	tgct_tcga	1
tgct_tcga_pan_can_atlas_2018	tgct_tcga_pan_can_atlas_2018	1
thca_tcga	thca_tcga	1
thca_tcga_pan_can_atlas_2018	thca_tcga_pan_can_atlas_2018	1
thca_tcga_pub	thca_tcga_pub	1
thym_tcga	thym_tcga	1
thym_tcga_pan_can_atlas_2018	thym_tcga_pan_can_atlas_2018	1
thyroid_gatci_2024	thyroid_gatci_2024	1
thyroid_mskcc_2016	thyroid_mskcc_2016	1
tmb_mskcc_2018	tmb_mskcc_2018	1
uccc_nih_2017	uccc_nih_2017	1
ucec_ancestry_cds_msk_2023	ucec_ancestry_cds_msk_2023	1
ucec_ccr_cfdna_msk_2022	ucec_ccr_cfdna_msk_2022	1
ucec_ccr_msk_2022	ucec_ccr_msk_2022	1
ucec_cptac_2020	ucec_cptac_2020	1
ucec_msk_2018	ucec_msk_2018	1
ucec_msk_2024	ucec_msk_2024	1
ucec_tcga	ucec_tcga	1
ucec_tcga_pan_can_atlas_2018	ucec_tcga_pan_can_atlas_2018	1
ucec_tcga_pub	ucec_tcga_pub	1
ucs_jhu_2014	ucs_jhu_2014	1
ucs_tcga	ucs_tcga	1
ucs_tcga_pan_can_atlas_2018	ucs_tcga_pan_can_atlas_2018	1
um_qimr_2016	um_qimr_2016	1
urcc_mskcc_2016	urcc_mskcc_2016	1
usarc_msk_2020	usarc_msk_2020	1
utuc_cornell_baylor_mdacc_2019	utuc_cornell_baylor_mdacc_2019	1
utuc_igbmc_2021	utuc_igbmc_2021	1
utuc_msk_2019	utuc_msk_2019	1
utuc_mskcc_2015	utuc_mskcc_2015	1
utuc_pdx_msk_2019	utuc_pdx_msk_2019	1
uvm_tcga	uvm_tcga	1
uvm_tcga_pan_can_atlas_2018	uvm_tcga_pan_can_atlas_2018	1
vsc_cuk_2018	vsc_cuk_2018	1
wt_target_2018_pub	wt_target_2018_pub	1