body{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
}
table.tablesorter {
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	background-color: #CCCCCC;
	cursor:pointer;
}
table.tablesorter tr {
	color: #000000;
}
table.tablesorter td {
	color: #000000;
}
table.tablesorter thead {
	background-color: #CCCCCC;
}

table.tablesorter .header {
	background-image: url(bg_new.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding: 0px;
	height: 50px;
	cursor:pointer;
}
table.tablesorter .headerSortUp {
	background-image: url(asc_new.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc_new.png);
	background-repeat: no-repeat;
}
table.tablesorter thead{
	position:fixed;
	z-index:1;
	top:0px;
	left:0px;
}
table.tablesorter tbody{
	position:absolute;
	z-index:0;
	top:100px;
	left:0px;
}

table.tablesorter thead div {
	overflow:auto;
	max-height: 100px;
	padding: 5px 5px 5px 35px;
}

table.tablesorter tbody div {
	padding: 5px;
	overflow:auto;
	max-height: 100px;
}

table.tablesorter thead #upid div{
	width:50px;
}
table.tablesorter thead #recname div{
	width:140px;
}
table.tablesorter thead #molwt div{
	width:25px;
}
table.tablesorter thead #protratio div{
	width:45px;
}
table.tablesorter thead #protratiostddev div{
	width:25px;
}
table.tablesorter thead #signalpep div{
	width:35px;
}
table.tablesorter thead #tm div{
	width:65px;
}
table.tablesorter thead #icr div{
	width:85px;
}
table.tablesorter thead #ecr div{
	width:85px;
}
table.tablesorter thead #plot div{
	width:500px;
}

table.tablesorter tbody .upid div{
	width:60px;
}
table.tablesorter tbody .recname div{
	width:150px;
}
table.tablesorter tbody .molwt div{
	width:35px;
}
table.tablesorter tbody .protratio div{
	width:55px;
}
table.tablesorter tbody .protratiostddev div{
	width:35px;
}
table.tablesorter tbody .signalpep div{
	width:45px;
}
table.tablesorter tbody .tm div{
	width:75px;
}
table.tablesorter tbody .icr div{
	width:95px;
}
table.tablesorter tbody .ecr div{
	width:95px;
}

table.tablesorter tbody .plot img{
	width:460px;
}
