body{
	font-family: 'Times New Roman' !important;
	font-size: 12px !important;
}
table.tablesorter {
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 0px;
	background-color: #CCCCCC;
	height: 50px;
	cursor:pointer;
}
table.tablesorter tr {
	color: #000000;
}
table.tablesorter td {
	color: #000000;
	padding: 0px;
}
table.tablesorter td img {
	max-width: 445px !important;
}
table.tablesorter thead {
	background-color: #CCCCCC;
}

table.tablesorter .header {
	background-image: url(bg_new.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding: 0px;
	height: 50px;
	cursor:pointer;
}
table.tablesorter .headerSortUp {
	background-image: url(asc_new.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc_new.png);
	background-repeat: no-repeat;
}
table.tablesorter thead{
	position:fixed;
	z-index:1;
	top:0px;
	left:0px;
}
table.tablesorter tbody{
	position:absolute;
	z-index:0;
	top:100px;
	left:0px;
}

table.tablesorter thead div {
	overflow:auto;
	max-height: 100px;
	padding: 5px 5px 5px 35px;
}

table.tablesorter tbody div {
	padding: 5px;
	overflow:auto;
	max-height: 100px;
}


table.tablesorter thead #upid div{
	width:60px;
}
table.tablesorter thead #nprime div{
	width:70px;
}
table.tablesorter thead #prime div{
	width:170px;
}
table.tablesorter thead #fc div{
	width:35px;
}
table.tablesorter thead #sd div{
	width:35px;
}
table.tablesorter thead #comb div{
	width:80px;
}
table.tablesorter thead #id1 div{
	width:70px;
}
table.tablesorter thead #id2 div{
	width:70px;
}
table.tablesorter thead #id3 div{
	width:70px;
}
table.tablesorter thead #recname div{
	width:120px;
}
table.tablesorter thead #altnames div{
	width:120px;
}
table.tablesorter thead #gocomp div{
	width:120px;
}
table.tablesorter thead #goproc div{
	width:120px;
}
table.tablesorter thead #gofunc div{
	width:120px;
}
table.tablesorter thead #sploc div{
	width:120px;
}
table.tablesorter thead #tm div{
	width:100px;
}
table.tablesorter thead #signal div{
	width:70px;
}

table.tablesorter tbody .upid div{
	width:90px;
}
table.tablesorter tbody .nprime div{
	width:100px;
}
table.tablesorter tbody .prime div{
	width:200px;
}
table.tablesorter tbody .fc div{
	width:65px;
}
table.tablesorter tbody .sd div{
	width:65px;
}
table.tablesorter tbody .id1 div{
	width:100px;
}
table.tablesorter tbody .id2 div{
	width:100px;
}
table.tablesorter tbody .id3 div{
	width:100px;
}
table.tablesorter tbody .comb div{
	width:110px;
}
table.tablesorter tbody .recname div{
	width:150px;
}
table.tablesorter tbody .altnames div{
	width:150px;
}
table.tablesorter tbody .gocomp div{
	width:150px;
}
table.tablesorter tbody .goproc div{
	width:150px;
}
table.tablesorter tbody .gofunc div{
	width:150px;
}
table.tablesorter tbody .sploc div{
	width:150px;
}
table.tablesorter tbody .tm div{
	width:130px;
}
table.tablesorter tbody .signal div{
	width:100px;
}
