# This is a sample file distributed with Galaxy that is used to define a
# list of salmon indices, using three columns tab separated:
#
# salmon_index_id{tab}Salmon Index desciption{tab}/data/salmon_indexes/salmon_index_id/
#
# An index can be created with the following command:
#
# salmon index
#     --transcripts your_transcripts.fasta
#     --kmerSize 21
#     --out /data/salmon_indexes/salmon_index_id/
#     --threads 4
#

