# This file lists databases that can be searched with LiraSearch.
# The file has the format (white space characters are
# TAB characters):
#
# <unique_id>	<name>	<path>
#
# So, lirasearch.loc could look something like this:
#value  name    path
#zinc20	ZINC20	/home/galaxy/zinc20
#zinc22	ZINC22	/home/galaxy/zinc22
#dude	DUD-E	/home/galaxy/dude

