<tables>
    <!-- IDs table file -->
    <table name="rbp_ids_table" comment_char="#">
        <columns>value</columns>
        <file path="${__HERE__}/tool-data/rbp_ids.catrapid.omics.v2.1.human.6plus.txt" />
    </table>
</tables>
