#	This file contains the definition of the databases used by the chemicaltoolbox in Galaxy.

#	The definition pattern is a 7-column TAB separated line containing the following information
#for each database:

#<unique_id>	<database_caption>	<database_name>	<server_db_name>	<username>	<server_name>	<server_password>

#	database_caption is the name that will be shown to the user in the Galaxy interface
#The captions typically contain spaces and might end with the build date.

#	database_name is the name used during the generation and parsing of the database. WARNING: a wrong database name will
#result in connection errors to the db

