## miRge3 data table configuration
## This file is managed by the miRge3 data manager
##
## To obtain miRge3 libraries, download them from the miRge3 SourceForge repository:
##   https://sourceforge.net/projects/mirge3/files/Libraries/
##
## Each library tarball (e.g. human_miRBase.tar.gz) should be extracted into a
## directory structure like: <path>/<organism>/<database>/
##
## The library directory must contain:
##   - bowtie indexes of miRNA hairpin sequences (*.ebwt files)
##   - mature miRNA annotations (miRNA.str)
##   - genomic coordinates for isomiR analysis
##
## Columns: value	path	organism	version
#<value>	<path>	<organism>	<version>
