#This file lists the locations of all the trained_dir files
#under the "trained_dir" directory (a directory that contains a directory
#for each organism used by glimmer_hmm).
#This file has the format (white space characters are
#TAB characters):
#
#<unique_id>	<display_name>	<file_path>
#
#glimmer_hmm.loc could look something like this:
#
#human_gc_0-43	Human with GC Content 0 to 43%	/path/to/trained_dir/human
#celegans	Celegan	/path/to/trained_dir/Celegans
#arabidopsis Arabidopsis /path/to/trained_dir/arabidopsis
#rice Rice /path/to/trained_dir/rice
#zebrafish Zebrafish /path/to/trained_dir/zebrafish
#
