#This is a sample file that enables the segemehl mapper to find genome indices
#and database files. You will need to create these data files and then create 
#a segemehl_indices.loc file similar to this one (store it in this directory) 
#that points to the directories in which those files are stored. 
#The segemehl_indices.loc file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <file_base_path>
#
#So, for example, if you had hg18 indexed stored in 
#/data/0/galaxy/segemehl/hg18/, 
#then the segemehl_indices.loc entry would look like this:
#
#hg18   hg18   hg18   /data/0/galaxy/segemehl/hg18/chromosomes.fa   /data/0/galaxy/segemehl/hg18/chromosomes.idx
#
#and your /data/0/galaxy/segemehl/hg18/ directory
#would contain hg18.*.ebwt files:
#
#-rw-r--r--  1 bag    bag 539833 2013-10-13 10:12 chromosomes.idx
#-rw-r--r--  1 bag    bag 342562 2013-10-13 10:12 chromosomes.fa
#...etc...
#
#Your segemehl_indices.loc file should include an entry per line for each
#index set you have stored. The "file" in the path does not actually
#exist, but it is the prefix for the actual index files. For example:
#
#hg18canon          hg18   hg18 Canonical   /data/0/galaxy/segemehl/hg18/chromosomes_can.fa   /data/0/galaxy/segemehl/hg18/chromosomes_can.idx
#hg18full           hg18   hg18 Full        /data/0/galaxy/segemehl/hg18/chromosomes_full.fa   /data/0/galaxy/segemehl/hg18/chromosomes_full.idx
#...etc...
#
