#This is a sample file distributed with Galaxy that enables tools
#to use a directory of 2bit genome files. You will
#need to create these data files and then create a 2bit_genome.loc
#file similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The 2bit_genome.loc
#file has this format (longer white space characters are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <file_base_path>
#
#tair10   tair10    tair10 all   /data/galaxy/galaxy_data/indexes/tair10/seq
