#This is a sample file distributed with Galaxy that is used by some
#tools.  The twobit_update.loc file has this format (white space characters
#are TAB characters):
#
#<unique_build_id>   <dbkey>   <display_name>   <file_path>
#
#So, for example, if you had droPer1 twobit files stored in
#/depot/data2/galaxy/droPer1/, then the twobit_update.loc entry
#would look like this:
#
#droPer1  droPer1 droPer1 /depot/data2/galaxy/droPer1/droPer1.2bit
#
#and your /depot/data2/galaxy/droPer1/ directory would
#contain all of your twobit files (e.g.):
#
#-rw-rw-r--   1 nate   galaxy 48972650 2016-11-23 11:27 droPer1.2bit
#...etc...
#
#Your twobit_update.loc file should include an entry per line for each twobit
#file you have stored.  For example:
#
#tair10 tair10    tair10 all  /data/galaxy/galaxy_data/indexes/tair10/seq/TAIR10_Chr.all.2bit
#...etc...
