#This is a sample file distributed with Galaxy that enables tools
#to use a motus DB folder. The motus_db_versioned.loc 
#file needs this format (longer white space is the TAB character):

#<value>  <version> <name>   <path>  

# for example:

# motus123	motus 3 DB	v3.1	/data/motus
