#This is a sample file distributed with Galaxy that enables tools
#to use a kmetashot DB folder. The kmetashot.loc 
#file needs this format (longer white space is the TAB character):
#
#25-05-22	kMetaShot-25-05-22	kMetaShot reference data 2025-05-22	2	/data/kMetaShot_reference.h5
