<!-- Paths are relative to the value of `tool_data_path` in galaxy.ini -->
<tables>
    <table name="llm_models" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, domain, provider, free_tag</columns>
        <file path="llm_models.loc" />
    </table>
</tables>