#This is a sample file distributed with Galaxy that is used to define a
#list of public ribosomal databases, using three columns tab separated
#(longer whitespace are TAB characters):
#
#<unique_id>    <database_caption>      <base_name_path>
#
#It is important that the actual database name does not have a space in it,
#and that the first tab that appears in the line is right before the path.
#
#So, for example, if your database is rfam-5.8s and the path to your base name
#is /data/rRNA_databases/rfam-5.8s, then the rRNA_databases.loc entry would look like this:
#
#rfam-5.8s          Rfam 5.8S eukarya            /data/rRNA_databases/rfam-5.8s
#
#Since SortMeRNA comes bundled with eight ribosomal databases, which are ready
#for use after the tool installation, this sample file is in fact an actual file
#to save the user the trouble of setting it.
#
rfam-5.8s	Rfam 5.8S eukarya	$SORTMERNADIR/rRNA_databases/rfam-5.8s-database-id98.fasta
rfam-5s	Rfam 5S archaea/bacteria	$SORTMERNADIR/rRNA_databases/rfam-5s-database-id98.fasta
silva-arc-16s	SILVA 16S archaea	$SORTMERNADIR/rRNA_databases/silva-arc-16s-database-id95.fasta
silva-arc-23s	SILVA 16S bacteria	$SORTMERNADIR/rRNA_databases/silva-arc-23s-database-id98.fasta
silva-bac-16s	SILVA 16S bacteria	$SORTMERNADIR/rRNA_databases/silva-bac-16s-database-id85.fasta
silva-bac-23s	SILVA 23S bacteria	$SORTMERNADIR/rRNA_databases/silva-bac-23s-database-id98.fasta
silva-euk-18s	SILVA 18S eukarya	$SORTMERNADIR/rRNA_databases/silva-euk-18s-database-id95.fasta
silva-euk-28s	SILVA 28S eukarya	$SORTMERNADIR/rRNA_databases/silva-euk-28s-database-id98.fasta
