<tables>
    <!-- Locations of all fasta files under genome directory -->
    <table name="huggingface" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, pipeline_tag, domain, free_tag, version, path</columns>
        <file path="tool-data/huggingface.loc" />
    </table>
</tables>