<tables>
    <table name="cons_scores_downloader" comment_char="#">
        <columns>value, name, path, version</columns>
        <file path="tool-data/cons_scores_downloader.loc"/>
    </table>
</tables>