<?xml version="1.0"?>
<tables>
    <!-- miRge3 reference libraries data table -->
    <table name="mirge3_libraries" comment_char="#">
        <columns>value, path, organism, version</columns>
        <file path="tool-data/mirge3_libraries.loc" />
    </table>
</tables>
