.structure-background-rect {
    stroke: black;
    stroke-width: 5;
    fill: transparent;
}

circle.rna-base {
  stroke: #ccc;
  stroke-width: 1px;
  opacity: 1;
  fill: white;
}

circle.rna-base.label {
    stroke: transparent;
    stroke-width: 0;
    fill: white;
}

line.link {
  stroke: #999;
  stroke-opacity: 0.8;
  stroke-width: 2;
}

line.rna-link {
  stroke: #999;
  stroke-opacity: 0.8;
  stroke-width: 2;
}

.overlay {
    fill: transparent;
}

.rna-name {
    text-anchor: middle;
    dy: -10;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 8pt;
}

line.rna-link[link-type="backbone"] {
    stroke: transparent;
}

line.rna-link[link-type="basepair"] {
    stroke: transparent;
}

line.rna-link[link-type="fake"] {
    stroke: transparent;
}

line.rna-link[link-type="extra"] {
    stroke: grey;
}

line.rna-link[extra-link-type="correct"] {
    stroke: green;
}

line.rna-link[extra-link-type="incorrect"] {
    stroke: green;
}


path {
    stroke: grey;
  stroke-width: 2;
}

path[extra-link-type="correct"] {
    stroke: green;
}

path[extra-link-type="incorrect"] {
    stroke: red;
}


line.basepair {
  stroke: red;
}

line.intermolecule {
  stroke: blue;
}

line.chain_chain {
  stroke-dasharray: 3,3;
}

line.fake {
  stroke: green;
}

.transparent {
    fill: transparent;
    stroke-width: 0;
    stroke-opacity: 0;
    opacity: 0;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
          }

text.nucleotide-label {
    font-size: 5.5pt;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(100,100,100);
    pointer-events: none;
}

text.number-label {
    font-size: 5.5pt;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(100,100,100);
    pointer-events: none;
}

text {
    pointer-events: none;
}

g.gnode {

}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
