#This is a sample file distributed with Galaxy that enables tools
#to use the ml_models model folder. The ml_models.loc
#file needs this format (white space is the TAB character):

#<type-model_id-variant-version>	<model_family>	<variant>	<version>	<display_name>	<sort_key>	<model_type>	<compatibility>	<path>	<doi>	<license>	<creators>

# for example:
ocr-catmus_print-tiny-v1	CATMuS-Print	tiny	v1	CATMuS-Print[Tiny]	CATMuS-Print__020	ocr	kraken	/db/models/kraken_ocr/2026-07/ocr/catmus-print-fondue-tiny.mlmodel	10.5281/zenodo.10602357	CC-BY-4.0	Simon Gabay
ocr-catmus_print-large-v1	CATMuS-Print	large	v1	CATMuS-Print[Large]	CATMuS-Print__010	ocr	kraken	/db/models/kraken_ocr/2026-07/ocr/catmus-print-fondue-large.mlmodel	10.5281/zenodo.10592716	CC-BY-4.0	Simon Gabay
seg-bdd-regions-default-v1	BDD-Segmentation-Regions	default	v1	BDD-Segmentation-Data	BDD-Segmentation-Data__010	segmentation	kraken	/db/models/kraken_ocr/2026-07/segmentation/bdd-segmentation-regions-1.0.mlmodel	10.5281/zenodo.10890967	CC-BY-4.0	Michael Schonhardt