<!-- Paths are relative to the value of `tool_data_path` in galaxy.ini -->
<tables>
    <table name="huggingface" comment_char="#" allow_duplicate_entries="False">
        <columns>value, name, pipeline_tag, domain, free_tag, version, path</columns>
        <file path="huggingface.loc" />
    </table>
</tables>