#<species>	<version>	<release>	<value>	<dbkey>	<name>	<path>
#Arabidopsis_thaliana	TAIR10	30	Arabidopsis_t_TAIR10_30	Arabidopsis_t_TAIR10_30	Arabidopsis thaliana: TAIR10	/export/home1/users/biocomp/chbernar/galaxy_testing/tool-data/from_personal_data/bismark_indexes/Arabidopsis_thaliana_TAIR10/Bisulfite_Genome