#This is a sample file distributed with Galaxy that enables tools
#to use a directory of metagenomics files.  
#file has this format (white space characters are TAB characters)
# - db-build-version-date
# - db-name
# - build
# - /path/to/data 
#03_02_2026	 FAISS Protein Database	1.00	/path/to/data