<tool id="hicup_mapper" name="HiCUP Mapper" version="0.1.0">
    <requirements>
    </requirements>
    <stdio>
        <exit_code range="1:" />
    </stdio>
    <command><![CDATA[
        BOWTIE_PATH="$(whereis bowtie | awk '{split($0,a," "); print a[2]}')" &&
        hicup_mapper 
        TODO: --index 
        #if $bowtieOrBowtie2 == "bowtie":
            --bowtie $BOWTIE_PATH
        #else:
            --bowtie2 $BOWTIE_PATH
        #end if
       
        #for $sequence_file in $input_sequences_to_map:
            $sequence_file
        #end for
        #if $advanced_options.format
            --format $advanced_options.format
        #end if 
        --threads $advanced_options.threads
        $advanced_options.quiet $advanced_options.zip
    ]]></command>
    <inputs>
        <param name="input_sequences_to_map" type="data" format="txt" multiple="true"/>
        <param argument="--bowtieOrBowtie2" type="select" label="Choose bowtie or bowtie2" help="Choose if bowtie or bowtie2 should be used.">
            <option value="bowtie">Bowtie</option>
            <option value="bowtie2">Bowtie2</option>
        </param>
        <param argument="--index" type="text" value="" label="Reference genome index" help="Relevant reference genome Bowtie/Bowtie2 indices"/>

        <section name="advanced_options" label="Advanced options">        
            <param argument="--format" type="select" label="Data format:" help="Specify FASTQ format
                Options: Sanger, Solexa_Illumina_1.0, Illumina_1.3, Illumina_1.5">
                <option value="none" selected="true"></option>
                <option value="Sanger" selected="true">Sanger</option>
                <option value="Solexa_Illumina_1.0">Solexa_Illumina_1.0</option>
                <option value="Illumina_1.3">Illumina_1.3</option>
                <option value="Illumina_1.5">Illumina_1.5</option>
            </param>
            <param argument="--quiet" type="boolean" value="false" truevalue="--quiet" falsevalue="" label="" help=""/>
            <param argument="--threads" type="integer" value="1" label="Threads" help="Specify the number of threads, allowing simultaneous processing of multiple files"/>
            <param argument="--zip" type="boolean" value="false" truevalue="--zip" falsevalue="" label="Compress output" help="Compress the output with zip"/>
        </section>
    </inputs>
    <outputs>
    <data format="txt" name="hicup_mapper_summary">
        <discover_datasets pattern="hicup_mapper_summary" visible="true" />
    </data>
    <data format="sam" name="hicup_mapper_result">
        <discover_datasets pattern="pair.sam" visible="true" />
    </data>
    </outputs>
    <help><![CDATA[
       Valid Hi-C ligation products comprise two restriction fragments from different regions of the genome ligated together. This program maps Hi-C di-tags against a reference genome to determine from where each restriction fragment is derived. Following mapping the forward and reverse reads are paired i.e. two input files result in one output file.

HiCUP Mapper uses the sequence alignment programs Bowtie or Bowtie2 to perform the mapping.
Bowtie mapping parameters:

-p 1 -n 1 -m 1 –best

-p 1: launches Bowtie with only one search thread. Although limiting the search to one processor is slower on multi-core machines, it ensures the order of the returned mapped reads is the same as found in the input file (ignoring omitted unmapped sequences), essential for the correct functioning of HiCUP. (Bowtie actually defaults to -p 1, but this has been made explicit in the Perl script due to the importance of preserving the read order.)

-n 1: alignments may have no more than 1 mismatch in the first 28 bases (seed) and the sum of the Phred quality values at all mismatched positions (not just in the seed) may not exceed 70. Bowtie rounds quality values to the nearest 10, saturating at 30.

-m 1: report only unique alignments

–best: reports alignments in best-to-worst order

The configuration file sets the parameters for HiCUP Mapper, it contains: i) names of files to be mapped; ii) local path to Bowtie; iii) path to the relevant reference genome Bowtie indices; iv) the sequence format.
Bowtie2 Mapping Parameters:

–very-sensitive: slower but a more sensitive and more accurate option

–no-unal: suppress SAM records for reads that failed to align.

-p 1: same as for Bowtie (see above)
    ]]></help>
</tool>