<tool id="hicup_mapper" name="Hicup Mapper" version="@VERSION@.0">
    <description>aligns paired reads independently to a reference genome and retains reads where both partners align.</description>
    <macros>
        <import>hicup_macros.xml</import>
    </macros>
    <expand macro="requirements_hicup" />
    <command detect_errors="exit_code"><![CDATA[
        BOWTIE_PATH_BASH="\$(which bowtie2)" &&
        #set index_path = ''
        #if str($reference_genome.source) == "history":
           bowtie2-build '$reference_genome.own_file' genome &&
           ln -s '$reference_genome.own_file' genome.fa &&
           #set index_path = 'genome'
        #else:
           #set index_path = $reference_genome.index.fields.path
        #end if

	##Dealing with fastq and fastq.gz
        input1='$input_first_sequence' &&
        input2='$input_second_sequence' &&
        trunc_result_1=\$(echo '$input_first_sequence' | rev | cut -d'/' -f1 | rev) &&
        trunc_result_2=\$(echo '$input_second_sequence' | rev | cut -d'/' -f1 | rev) &&

        #if $input_first_sequence.is_of_type("fastq.gz", "fastqsanger.gz"):
           ln -s $input_first_sequence \$trunc_result_1.gz &&
           input1=\$trunc_result_1.gz &&
        #end if

        #if $input_second_sequence.is_of_type("fastq.gz", "fastqsanger.gz"):
           ln -s $input_second_sequence \$trunc_result_2.gz &&
           input2=\$trunc_result_2.gz &&
        #end if


        hicup_mapper
            --zip
            --threads \${GALAXY_SLOTS:-1}
            --index '$index_path' 
            --bowtie2 \$BOWTIE_PATH_BASH
            \$input1
            \$input2

        ## output handling
        ## If the barchart have not been created
        #if $input_first_sequence.is_of_type("fastq.gz", "fastqsanger.gz"):
           && touch \$trunc_result_1.gz.mapper_barchart.svg
        #else
           && touch \$trunc_result_1.mapper_barchart.svg
        #end if

        #if $input_second_sequence.is_of_type("fastq.gz", "fastqsanger.gz"):
           && touch \$trunc_result_2.gz.mapper_barchart.svg
        #else
           && touch \$trunc_result_2.mapper_barchart.svg
        #end if
        && mv \$trunc_result_1*.mapper_barchart.svg dataset1.mapper_barchart.svg
        && mv \$trunc_result_2*.mapper_barchart.svg dataset2.mapper_barchart.svg

    ]]></command>
    <inputs>
        <expand macro="input_files" />
        <expand macro="reference_genome_macro" />
    </inputs>
    <outputs>
        <data name="hicup_mapper_summary" format="txt" from_work_dir="hicup_mapper_summary*" label="hicup_mapper_summary.txt"/>
        <data name="result_pair" format="bam" from_work_dir="*pair.bam" label="pair.bam"/>
        <data name="dataset1_mapper_barchart" format="svg" from_work_dir="dataset1.mapper_barchart.svg" label="Mapper Dataset1 Barchart.svg" />
        <data name="dataset2_mapper_barchart" format="svg" from_work_dir="dataset2.mapper_barchart.svg" label="Mapper Dataset2 Barchart.svg" />
    </outputs>
     <tests>
        <test>
            <param name="input_first_sequence" value="dataset1.trunc.fastq" ftype="fastq"/>
            <param name="input_second_sequence" value="dataset2.trunc.fastq" ftype="fastq"/>
            <conditional name="reference_genome">
                <param name="source" value="history" />
                <param name="own_file" value="chr1.fa"/>
            </conditional>
            <output name="hicup_mapper_summary" file="hicup_mapper_summary.txt" lines_diff="4"/>
            <output name="result_pair" file="result.pair.bam" lines_diff="8" ftype="bam" />
            <output name="dataset1_mapper_barchart" file="dataset1.mapper_barchart.svg" ftype="svg" lines_diff="1000"/>
            <output name="dataset2_mapper_barchart" file="dataset2.mapper_barchart.svg" ftype="svg" lines_diff="1000"/>
        </test>
    </tests>
    <help><![CDATA[

    For help please consult the documentation of HiCUP: http://www.bioinformatics.babraham.ac.uk/projects/hicup/overview/

    To get more information about the mapper visit: http://www.bioinformatics.babraham.ac.uk/projects/hicup/scripts_description/#Mapper
    ]]></help>
    <expand macro="citation_hicup" />
</tool>
