<tool id="hicup_mapper" name="Mapper" version="0.1.0">
    <macros>
        <import>hicup_macros.xml</import>
    </macros>
    <expand macro="requirements_hicup" />
    <expand macro="stdio" />

    <command><![CDATA[
        BOWTIE_PATH_BASH="\$(which bowtie2)" &&
        #set index_path = ''
        #if str($reference_genome.source) == "history":
           bowtie2-build "$reference_genome.own_file" genome &&
           ln -s "$reference_genome.own_file" genome.fa &&
           #set index_path = 'genome'
        #else:
           #set index_path = $reference_genome.index.fields.path
        #end if
        hicup_mapper
        --index '$index_path' 
        --bowtie2 \$BOWTIE_PATH_BASH

        #for $sequence_file in $input_sequences_to_map:
            $sequence_file
        #end for
        && mv hicup_mapper_summary* hicup_mapper_summary.txt
        && mv *.pair.sam result.pair.sam
        && mv Rplots.pdf Rplots_mapper.pdf
    ]]></command>
    <inputs>
        <param name="input_sequences_to_map" type="data" format="trunc" label="Sequence files to map" multiple="true"/>
        <expand macro="reference_genome_macro" />
    </inputs>
    <outputs>
       <expand macro="mapper_output" />
    </outputs>
     <tests>
        <test>
            <param name="input_sequences_to_map" value="dataset1.trunc.fastq,dataset2.trunc.fastq" ftype="fastq"/>
            <param name="reference_genome" value="history"/>
            <param name="own_file" value="ch1_reduced.fa"/>
            <output name="Rplots_mapper" file="Rplots_mapper.pdf" compare="sim_size" delta="500"/>
            <output name="hicup_mapper_summary" file="hicup_mapper_summary.txt" compare="sim_size" delta="500"/>
            <output name="result_pair" file="dataset1_2.pair.sam" compare="sim_size" delta="50"/>
        </test>
    </tests>
    <help><![CDATA[

    For help please consult the documentation of HiCUP: http://www.bioinformatics.babraham.ac.uk/projects/hicup/overview/

    To get more information about the mapper visit: http://www.bioinformatics.babraham.ac.uk/projects/hicup/scripts_description/#Mapper
    ]]></help>
    <expand macro="citation_hicup" />
</tool>