#This is a sample file distributed with Galaxy that is used to define a
#list of homer installations with associated databases, using three columns tab separated
#(longer whitespace are TAB characters):
#
#That files should enable the administrator the establish some kind of 
#reproducibility of HOMER data. It is recommended to install HOMER from scratch
#in a new folder and define the location here. If you want to update your HOMER
#installation consider to check out a completly new HOMER version in a new PATH.
#
#The entries are as follows:
#
#<unique_id>	<database_caption>	<base_name_path>
#
#Your homer.loc file should include an entry per line for each "base name" 
#you have stored.  For example:
#
#homer_08_Aug_2013		HOMER 4.2 08 Aug 2013		/data/0/galaxy_data/homer/08_08_2013/
#homer_02_July_2013		HOMER 4.2 02 July 2013		/data/0/galaxy_data/homer/02_07_2013/
#homer_1_Jan_2013	HOMER 4.1 1 Jan 2013	/data/0/galaxy_data/homer/01_01_2013

#...etc...
#
#You can install and populate HOMER with all relevant data, following the instructions here:
#http://biowhat.ucsd.edu/homer/introduction/install.html
#
#The Galaxy Toolshed will take care to install all requirements, but they are only
#accessible during execution time. So feel free to ignore warnings during the installation,
#that your are missing weblogo, blat and Co.


