# miRge3.0 reference libraries data table
# This file lists the available miRge3.0 reference libraries.
#
# Libraries can be downloaded from:
#   https://sourceforge.net/projects/mirge3/files/Libraries/
#
# Each library directory must contain:
#   - {organism}/{database}/index.Libs (marker file)
#   - {organism}/{database}/hairpin.fa (hairpin FASTA sequences)
#   - {organism}/{database}/hairpin.*.ebwt (bowtie index files)
#   - {organism}/{database}/miRNA.str (tab-separated: miRNA_name, mature_seq, star_seq, hairpin_name)
#
# Columns:
# value	path	organism	version
#human_miRBase	/path/to/mirge3_lib	human	0.1.4
#mouse_miRBase	/path/to/mirge3_lib	mouse	0.1.4
