## Classification models
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_default	tabpfn-v2.5-classifier-v2.5_default	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_default.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_default-2	tabpfn-v2.5-classifier-v2.5_default-2	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_default-2.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_large-features-L	tabpfn-v2.5-classifier-v2.5_large-features-L	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_large-features-L.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_large-features-XL	tabpfn-v2.5-classifier-v2.5_large-features-XL	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_large-features-XL.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_large-samples	tabpfn-v2.5-classifier-v2.5_large-samples	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_large-samples.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_real	tabpfn-v2.5-classifier-v2.5_real	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_real.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_real-large-features	tabpfn-v2.5-classifier-v2.5_real-large-features	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_real-large-features.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_real-large-samples-and-features	tabpfn-v2.5-classifier-v2.5_real-large-samples-and-features	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_real-large-samples-and-features.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_variant	tabpfn-v2.5-classifier-v2.5_variant	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-classifier-v2.5_variant.ckpt

## Regression models
prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_default	tabpfn-v2.5-regressor-v2.5_default	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_default.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_low-skew	tabpfn-v2.5-regressor-v2.5_low-skew	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_low-skew.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_quantiles	tabpfn-v2.5-regressor-v2.5_quantiles	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_quantiles.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_real	tabpfn-v2.5-regressor-v2.5_real	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_real.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_real-variant	tabpfn-v2.5-regressor-v2.5_real-variant	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_real-variant.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_small-samples	tabpfn-v2.5-regressor-v2.5_small-samples	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_small-samples.ckpt
prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_variant	tabpfn-v2.5-regressor-v2.5_variant	tabular_prediction	tabular_prediction	tabular_prediction	1	prior-labs/tabpfn_2_5/tabpfn-v2.5-regressor-v2.5_variant.ckpt
